@model Курсач.Models.CarMark

@{
    ViewBag.Title = "Удалить Авто";
}

<h2>Подтвердите удаление:</h2>

<h3>Вы уверенны?</h3>
<div>
    <h4>Удалить Авто</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mark_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mark_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country_of_origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country_of_origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KPP_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPP_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supply_contract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supply_contract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
