@model IEnumerable<Курсач.Models.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.registration_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarDetails.year_release)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klients.FIO_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviews.text_review)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.registration_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarDetails.year_release)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klients.FIO_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reviews.text_review)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_order }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_order }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_order })
        </td>
    </tr>
}

</table>

<script>
// Quick and simple export target #table_id into a csv
    function download_table_as_csv(table_id, separator = ',') {
        // Select rows from table_id
        var rows = document.querySelectorAll('table#' + table_id + ' tr');
        // Construct csv
        var csv = [];
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll('td, th');
            for (var j = 0; j < cols.length - 1; j++) {
                // Clean innertext to remove multiple spaces and jumpline (break csv)
                var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                data = data.replace(/"/g, '""');
                // Push escaped string
                row.push('"' + data + '"');
            }
            csv.push(row.join(separator));
        }
        var csv_string = csv.join('\n');
        // Download it
        var filename = 'data' + table_id + '_' + new Date().toLocaleDateString() + '.txt';
        var link = document.createElement('a');
        link.style.display = 'none';
        link.setAttribute('target', '_blank');
        link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
        link.setAttribute('download', filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>